

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;

}
:root {
  --gris: #757575;
  --blanco: #ffffff;
  --primario: #4CAF50;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.separador {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #fff, transparent);
  margin: 40px 0;
}


.contenido-bien, .botones-contacto {
  opacity: 0;
  transform: translateY(30px);
  animation: aparecer 4s forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
   /* Para no distraer */
}

h3 {
	font-size: 1.6rem;
  font-weight: 500;
 text-align: center;
 color: white;
 margin-bottom: 0.6rem;
 padding: 0.8rem;
}
.año i {
  margin-right: 0.5rem;
  color: #00ffee;
}

span{
	display: block;
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 14ch;
	font-size: clamp(1.7rem, 10vw, 1rem);
	text-align: left;
  color: white;
    padding: 2rem;
  
	animation: typing 2s steps(14), blink .5s infinite step-end alternate;
	overflow: hidden;
}
.span-2{
	display: block;
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 28ch;
	text-align: center;



	animation: typing 4s steps(28), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from {width: 0;}
}
@keyframes blink {
	50% { border-color: transparent; }
}
.timeline {
  border-left: 4px solid #00ffee;
  padding-left: 20px;
  margin: 2rem auto;
  max-width: 600px;
  position: relative;
  color: white;
}
.timeline {
  transition: min-height 0.3s ease, opacity 0.4s ease;
}
.animar {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center;
  animation: expandir 2s ease-out forwards;
}

@keyframes expandir {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}





.evento {
  position: relative;
  margin-bottom: 2rem;
  color: white;
}

.evento::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  width: 20px;
  height: 20px;
  background: #00ffee;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
}


.año {
  font-weight: bold;
  font-size: 1.2rem;
  color: #00ffee;
  margin-bottom: 0.3rem;
  display: inline-block;
  color: white;
}


#idioma-btn {
  position: fixed;
  top: 4rem;
  right: 0.8rem;
  padding: 0.2rem 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}




.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  justify-content:right;
  text-align: center;
  
}

.menu li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: transparent;
    margin-top: 0.3rem;
  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


nav ul {

    background-color: rgba(255, 255, 255, 0.2); /* transparente */
    backdrop-filter: blur(5px);               /* borroso */
   -webkit-backdrop-filter: blur(10px);       /* compatibilidad con Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.1rem 4rem;
    margin: 0;
	background-color: transparent;
	width: 100%;
	list-style-type: none;
	text-align: left; 

}
nav li {
	display: inline-flex;
}
nav a {
  transition: color 0.3s, border-bottom 0.3s;
	text-decoration: none;
	color: white;
	padding: 10px;
	width: 95px;

}
nav li:hover{
	background-color: transparent;
}

.nav a:hover {
  color: #00ffee;
  border-bottom: 2px solid #00ffee;
}


.centrado {
  justify-content: center; /* centra en flex */
  text-align: center;      /* centra el texto */
  width: 185%;
}

.contenido-bien {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.contenido-bien {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 5s ease forwards;
  animation-delay: 0.3s;
}
@media (max-width: 768px) {
  .centrado{
  justify-content: center; /* centra en flex */
  text-align: center;      /* centra el texto */
  width: 280%;
    
  }
}
@media (max-width: 768px) {
  .contenido-bien {
    padding: 1rem;
    text-align: center;
  }

  .timeline {
    padding-left: 10px;
    margin: auto;
  }
}



@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 768px) {
  .Contenido {
    flex-direction: column;

  }
  .Articulos {
    width: 35%;
    border-right: none;
  }
}


.Contenido {
	display: flex;
	margin: 65px;
}

.Secciones {
	display: flex;
	align-items: center;
	padding: 40px;
	
}


.formulario {
    background-color: #1e1e1e;
    width: min(25rem, 80%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    /**utilizar el valor mas pequeño **/

}

.formulario fieldset {
    border: none;
    opacity: 0;
  transform: translateY(30px);
  animation: aparecer 4s forwards;
}
.formulario legend {
  opacity: 0;
  transform: translateY(30px);
  animation: aparecer 4s forwards;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #26a69a;
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;

    }
}
.campo {
    margin-bottom: 1rem;

}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .1rem;
    display: block;

}
.campo textarea{
    height: 10rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: .5rem;
}
.boton-enviar {
  background-color: #26a69a;
  color: white;
  padding: 2px 20px; /* Más alto y más ancho */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px; /* Texto más grande */
  transition: background-color 0.3s ease;
  width: 50%;
  max-width: 300px; /* Para que no sea demasiado grande */
}


/* Esta clase alinea el botón a la derecha */
.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}
.boton-enviar, .menu-toggle, .Secciones, .campo {
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.boton-enviar:hover {
  background-color: transparent;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Secciones:hover, .campo:hover {
  background-color: transparent;
 
  transform: scale(1.05);
}
 .menu:hover {
  background-color: transparent;
  color: white;
  transform: scale(1.0);
  }

/* Estilo del botón */


.modo-boton {
  position: fixed;
  top: 2.1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1000;
  color: #888888;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modo-boton:hover {
  transform: scale(1.1);
}

/* Modo Día (por defecto) */
body  .modo-boton{
  color: #888888;
  transition: all 4s ease;
}
body .formulario {
  transition: all 4s ease;
}
body footer p{
  color: white;
	transition: all 4s ease;
}
body .menu li a{
  color: white;
	transition: all 4s ease;
}
body .menu-toggle{
	transition: all 4s ease;
}


/* Modo Noche */
body.noche .modo-boton{
  color: white;
  transition: all 4s ease;
}

body.noche  {
  background-color: #121212;
  color: white;
  transition: all 4s ease;
}

body.noche nav   {
  color: #00ffee;
  transition: color 0.3s, border-bottom 0.3s;
  background-color: var(--gris);
  transition: all 4s ease;

}

body.noche .formulario {
  background-color: var(--gris);
  transition: all 4s ease;
}

body.noche .menu li a{
	color: white;
	transition: all 4s ease;
}
body.noche .menu-toggle{
	color: white;
	transition: all 4s ease;
}

.nav a {
  transition: color 0.3s, border-bottom 0.3s;
}

.nav a:hover {
  color: #00ffee;
  border-bottom: 2px solid #00ffee;
}


.botones-contacto {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.botones-contacto a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s;
}

.botones-contacto .whatsapp {
  background-color: #25D366;
}

.botones-contacto .gmail-icon {
  background-color: #0072C6;
}

.botones-contacto a:hover {
  transform: scale(1.1);
}
.gmail-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.gmail-icon img:hover {
  transform: scale(1.1);
}


footer {
	width: 100%;
	height: 200px;
	color: black;
	margin-top: 40px;
}
footer p {
	text-align: center;
	padding: 20px;
}